body{
    margin: 0;
}

.ss_contents > h1{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: clamp(24px, 5vw, 48px);
    color: #3e3a39;
    font-weight: bold;
}
.ss_contents{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: clamp(100px,50vw,200px);
}
.ss_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}
@media screen and (max-width: 1023px) {
    .ss_contents{
        max-width: 666px;
        padding: 0 2% 0 2%;
    }
    .ss_list{
        grid-template-columns: 1fr 1fr;
    }
}
.ss_event{
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: end;
    border: 2px solid #59C3E1;
    aspect-ratio: 0.75;
}
@media screen and (max-width: 1023px) {
    .ss_event{
        border: 1px solid #59C3E1;
    }
}
.ss_inner{
    position: relative;
    width: 95%;
    height: 97%;
    margin: auto auto;
    background-position: center;
}
.ssev01{
    background-image: url("../img/33_okuma.jpg");
    background-size: 220%;
}
.ssev02{
    background-image: url("../img/33_campus.jpg");
    background-size: 200%;
}
.ssev03{
    background-image: url("../img/33_street.jpg");
    background-size: 120%;
}
.ssev04{
    background-image: url("../img/33_drama.jpg");
    background-size: 200%;
}
.ssev05{
    background-image: url("../img/33_auditorium.jpg");
    background-size: 250%;
}
.ssev06{
    background-image: url("../img/33_class.jpg");
    background-size: 120%;
}
.ssev07{
    background-image: url("../img/33_art.jpg");
    background-size: 120%;
}
.ssev08{
    background-image: url("../img/33_food.jpg");
    background-size: 220%;
}

/*運営スタッフ企画分
.ssev09{
    background-image: url("../img/us_opening.jpg");
    background-size: 220%;
}
.ssev10{
    background-image: url("../img/us_ending.jpg");
    background-size: 220%;
}
.ssev11{
    background-image: url("../img/us_switch.jpg");
    background-size: 120%;
}
.ssev12{
    background-image: url("../img/us_ce.jpg");
    background-size: 200%;
}
.ssev13{
    background-image: url("../img/us_previous.jpg");
    background-size: 220%;
}
.ssev14{
    background-image: url("../img/us_parade.jpg");
    background-size: 100%;
}
.ssev15{
    background-image: url("../img/us_middle.jpg");
    background-size: 250%;
}
.ssev16{
    background-image: url("../img/us_develop.jpg");
    background-size: 250%;
}
.ssev17{
    background-image: url("../img/us_salon.jpg");
    background-size: 120%;
}
.ssev18{
    background-image: url("../img/us_workshop.jpg");
    background-size: 220%;
}

.under_margin{
    margin-bottom: 50px;
}
--end--*/

.ss_inner > h{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 2%;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: clamp(11px, 3.5vw, 22px);
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
}
.ss_inner::after{
    display: block;
    position: absolute;
    bottom: 0px;
    content: "";
    background: linear-gradient(rgb(255,255,255,0),#000000);
    width: 100%;
    height: 60px;
    z-index: 1;
}