body{
    margin: 0;
}

.sse_contents{
    max-width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 1023px){
    .sse_contents{
        margin-right: 5%;
        margin-left: 5%;
    }
}
.sse_contents > h1{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: clamp(22px, 5vw, 48px);
    color: #3e3a39;
    font-weight: bold;
}
.sse_contents h2{
    margin: 0px;
}
.sse_contents p{
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #3e3a39;
    margin: 5px 10px 25px 0;
}
@media screen and (max-width: 1023px){
    .sse_contents p{
        font-size: 14px;
        margin: 5px 0px 15px 0;
    }
}

.sse_flex{
    display: flex;
    flex-direction: row-reverse;
}
@media screen and (max-width: 1023px){
    .sse_flex{
        flex-direction: column;
    }
}
/*img pic*/
.sse_left{
    flex-basis: 50%;
}
.sse_pic{
    width: 95%;
    height: 100%;
    margin: 0 0 0 auto;
    background-position: center;
    background-size: auto 100%;
}
@media screen and (max-width: 1023px){
    .sse_pic{
        width: 100%;
        margin: 5% auto 5% auto;
        height: clamp(200px, 60vw ,500px);
        background-size: 100% auto;
    }
}
.sse_right{
    flex-basis: 50%;
}

.quad_button{
    margin-top: 100px;
    margin-bottom: 100px;
}
@media screen and (max-width: 1023px){
    .quad_button{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/*各ページの写真のみ入れ替え*/
.ssp_okuma{
    background-image: url("../img/33_okuma.jpg");
}
.ssp_campus{
    background-image: url("../img/33_campus.jpg");
}
.ssp_street{
    background-image: url("../img/33_street.jpg");
}
.ssp_drama{
    background-image: url("../img/33_drama.jpg");
}
.ssp_auditorium{
    background-image: url("../img/33_auditorium.jpg");
}
.ssp_class{
    background-image: url("../img/33_class.jpg");
}
.ssp_art{
    background-image: url("../img/33_art.jpg");
}
.ssp_food{
    background-image: url("../img/33_food.jpg");
}